a, body, p, li {
    font-family: 'Work Sans', sans-serif
}
body {background-color: #F5E9CF;}

a, p {color: #4D455D;}
a:hover { color: #0E8388;}
li { color: #4D455D;}
nav a {  color: #927b7f;}
nav a:hover {background-color:#CBE4DE;}nav {
   background-color: #b7aec9; border-radius: .5em;
   padding: 10px;
   margin-bottom:30px}

.evenrow {background-color:rgb(81, 82, 84)} 

@media only screen and (max-width: 600px)
    {a {display:block; padding: 6px}
    span {display: none;} }