a, body, p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
body { 
    background-color: #EDE9D5;
}
h3, h4, h5 {
    font-size: 30px;
    text-align: center;
}
h2 {
    margin-left: 20px;
}
header h1 {
    background-color: #afd1e5;
    color: black;
    font-size: 50px;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin:5px;
    text-align:center;
}
    nav {
        display: flex;
        background-color: #afd1e5;
        justify-content: space-around;
        border-radius: 3px;
      }
      .topnav a {
        display: block;
        color: black;
        text-align: center;
        padding: 15px;
        font-size: 16px;
      }
      .topnav a:hover {
        background-color: #F5EBEB;
        color: black;
      }
      .topnav {
        padding: 10px 14px;
        background: #EDE9D5;
        font-size: 16px;
      }
.box1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box1 {
    margin-top: 20px;
}
.box2 {
    background-color: #f9b29a;
    margin-left: 20px;
    margin-top: 20px;
    margin-right:20px;
    margin-bottom: 50px;
    padding:20px;
    border-radius: 5px;
    flex-wrap: wrap;
}
.box3 {
    background-color: #f9b29a;
    margin-left: 20px;
    margin-top: 20px;
    margin-right:20px;
    margin-bottom: 50px;
    padding:20px;
    border-radius: 5px;

}
.background div {
    background-color: #f9b29a;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right:20px;
    margin-bottom: 20px;
}
.background p {
    margin: 30px;
}
@media only screen and (max-width: 600px)
    {a {display:block;}
    section {display:block;} 
    h2 {text-align: center;}
    .mypic {flex-direction: column;}
    .begin {flex-direction: column;}
    .contain {flex-direction: column;}
    .row {flex-direction: column;}
    .end {flex-direction: column;}
    .ended {flex-direction: column;}
    .vega {flex-direction: column;}
    .runs {flex-direction: column;}
    }
.chip {
    background-color: #f9b29a;
    margin-left: 90px;
    margin-top: 10px;
    margin-right:90px;
    margin-bottom: 10px;
    padding:10px;
    border-radius: 5px;
    flex-wrap: wrap;
}
.chip2 {
    background-color: #f9b29a;
    margin-left: 50px;
    margin-top: 10px;
    margin-right:50px;
    margin-bottom: 10px;
    padding:10px;
    border-radius: 5px;
    flex-wrap: wrap;
}
 .arch p {
    background-color: #f9b29a;
    margin-left: 50px;
    margin-top: 20px;
    margin-right:50px;
    margin-bottom: 20px;
    padding:10px;
    border-radius: 5px;
}
.arch img {
    padding-top: 40px;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.col p {
    background-color: #f9b29a;
    margin-left: 50px;
    margin-top: 20px;
    margin-right:50px;
    margin-bottom: 20px;
    padding:10px;
    border-radius: 5px;
}
.col img {
    padding-top: 40px;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.item {
    background-color: #f9b29a;
    margin-left: 50px;
    margin-top: 10px;
    margin-right:50px;
    margin-bottom: 0px;
    padding:10px;
    border-radius: 5px;
    flex-wrap: wrap;
}
.cloud {
    background-color: #f9b29a;
    margin-left: 20px;
    margin-top: 10px;
    margin-right:20px;
    margin-bottom: 10px;
    padding:10px;
    padding-right: 10px;
    border-radius: 5px;
    flex-wrap: wrap;
}
.rocks {
    background-color: #f9b29a;
    margin-left: 20px;
    margin-top: 10px;
    margin-right:20px;
    margin-bottom: 10px;
    padding:10px;
    padding-right: 10px;
    border-radius: 5px;
    flex-wrap: wrap;
}
.las {
    background-color: #f9b29a;
    margin-left: 60px;
    margin-top: 40px;
    margin-right:60px;
    margin-bottom: 40px;
    padding:10px;
    border-radius: 5px;
    flex-wrap: wrap;
}
.end img  {
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.end .vaso{
    margin-left: 20px;
    margin-top: 10px;
    margin-right:20px;
    margin-bottom: 10px;
    padding:10px;
    padding-right: 10px;
    border-radius: 5px;
    flex-wrap: wrap;
}
.ended .can {
    margin-left: 20px;
    margin-top: 10px;
    margin-right:20px;
    margin-bottom: 10px;
    padding:10px;
    padding-right: 10px;
    border-radius: 5px;
    flex-wrap: wrap;
}
.ended img  {
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.west img {
    padding-top: 40px;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}