h1, h2, h3, h4 {
    color: #7DB9B6;
    font-family: 'Work Sans', sans-serif
}
body {
    background-color: #F5E9CF;
}

a, p {
    color: #4D455D;
}
a:hover { 
    color: #0E8388;
}
li { 
    color: #4D455D;
}

nav a {
    color: #E96479;
}

input a {
    color: #4D455D;
}


nav a:hover {
    background-color:#CBE4DE;
}

nav {
   padding: 10px;
   margin-bottom:30px
}
.evenrow {background-color:lightskyblue} 